.footerContainer {
  height: 24.938rem;
  background: #707070;
  clip-path: polygon(0 68%, 100% 0%, 100% 100%, 0 100%);
  margin-top: 71.76px;
  display: flex;

  .footerContent {
    display: flex;
    max-width: 1120px;
    margin: 75px auto 0 auto;
    padding: 0 2rem;
    align-items: center;
    text-align: center;
    color: #fff;

    p {
      margin-top: 50px;
      font-weight: 400;
      font-size: 0.75rem; // 20px
      line-height: 18px;
      color: #fff;
    }
  }
}
